<div class="success-message">
    <h2>Thank You!</h2>
    <p>Your request for a quote has been submitted successfully. We will get back to you soon.</p>
    <img src="/imgs/thumbs-up.jpg" alt="Success Image">
</div>